<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <hr>
    <a href=" {% url "articles:index" %}">메인 페이지</a>
    <a href=" {% url "articles:create" %}">작성하기</a>
    
    {% for article in articles %}
    <p>글 번호: {{ article.pk}}</p>
    <p>글 제목: {{ article.title}}</p>
    <p>글 내용: {{ article.content}}</p>
    <a href="{% url 'articles:update' article.pk %}">수정하기</a>
    <a href="{% url 'articles:delete' article.pk %}">삭제하기</a>

    <hr>
    {% endfor %}
</body>
</html>